/*-------- GENERAL --------*/
body {
    font-family: Helvetica, Arial, sans-serif !important;
    color : #212529;
}

/*-------- HEADER --------*/
#logo {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    height: auto;
}

#main-title {
    text-transform: uppercase !important;
    font-size: 1.6vw !important;
    margin-bottom: 0 !important;
}

header {
    padding-left: 7%;
    padding-right: 7%;
    border-bottom: 2px solid #313E4735;
}

/*-------- MAIN CONTENT --------*/
#main-bloc {
    padding-top : 1.5%;
    padding-bottom : 4%;
}

.col-space {
    padding-right: 1.5%;
}

#sheet-area {
    padding: 0.2% 7%;
    background-color: #313E47;
}

#sheet-area img {
    width: 100%;
}

#hot-display-license-info {
    display:none;
}

/*-------- BUTTONS --------*/
.btn-toolbar {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom : 1.5%;
}

#btn-export, #btn-import {
    background-color: #313E47 !important;
    text-transform: uppercase;
    font-size: 0.9vw !important;
    border: none !important;
    width: 100%;
    height: auto;
    vertical-align: top;
}

#btn-export:hover, #btn-import:hover {
    background-color: #577B94 !important;
}

/*-------- IMPORT --------*/

.hidden {
    margin-left: 7%;
    margin-right: 70%;
    margin-bottom: 1%;
    padding: 1%;
    border: 2px solid #313E4735;
}

.hidden div {
    font-size: 1vw !important;
}

.hidden div label {
    text-decoration: underline #313E4775;
    font-size: 1.1vw !important;
    padding-bottom: 2%;
}

#inputImportSubmit {
    background-color: #313E47 !important;
    font-size: 0.9vw !important;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none !important;
    vertical-align: top;
}

#inputImportFile {
    font-size: 0.9vw !important;
}

.alert.alert-success.alert-dismissible.fade.show {
    margin-left: 5.4%;
    margin-right: 7%;
    margin-bottom: 0%;
    font-size: 0.9vw !important;
    padding: 1%;
}

.btn-close {
    background-color: #FFFFFF;
    color: #313E47;
    padding: 1.4% !important;
}


/*-------- FOOTER --------*/
footer {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom : 2%;
    border-top: 2px solid #313E4735;
}

footer div {
    padding-top : 1%;
    font-size: 0.6vw !important;
}

footer div a {
    color : #212529;
    text-decoration : none;
}

footer div a:hover {
    color : #577B94;
}

/*-------- INPUT --------*/

input[type=submit]{
    font-family: Helvetica, Arial, sans-serif !important;

}

/*-------- Scripts Hidden--------*/
.hidden {
     display:none;
}