#logo {
}

#main-title {
    font-family: Helvetica;
    font-weight: Bold;
}

.mt-0 {
  margin-top: 0 !important;
}

.row {
    margin-right: 0px;
}


.square {
  margin-top: 50px;
  margin-left: 100px;
  height: 480px;
  width: 1300px;
  background-color: #555;
}
