<!doctype html>
<html lang="fr">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Outil Agate</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>


  <body>
    <header>
<!--      <img src="{{url_for('static', filename='logo_Agate.jpg')}}" class="pull-left" height="150" width="150" id="logo" alt="logo Agate">-->
<!--      <h1 id="main-title" class="text-center">Gestion et traitement de données géographiques</h1>-->

<!--      <h1>-->
<!--        <a class="pull-left" href="#">-->
<!--          <img src="{{url_for('static', filename='logo_Agate.jpg')}}" width="10%" height="10%" alt="">-->
<!--        </a>-->
<!--        <span class="text-center" style="margin-left: -20%;">Gestion et traitement de données géographiques</span>-->
<!--      </h1>-->

      <div class="panel-heading">
        <div class="container-fluid">
          <a href="#" class="pull-left">
            <img src="{{url_for('static', filename='logo_Agate.jpg')}}" width="10%" height="10%" alt="">
          </a>
          <h1 align="center">Gestion et traitement de données géographiques</h1>
        </div>
      </div>



    </header>



    {% block content %}{% endblock %}

    <footer></footer>
  </body>
</html>