{% extends 'base.html' %}



{% block content %}
    <div id="sheet-area">
        <div id="operation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="operation-content">
                    <form method="POST" action="connexion" id="operation-form" name="operation-form" enctype="multipart/form-data">
                        <div class="modal-header">
                            <!-- Titre de la pop up -->
                            <h4 class="modal-title" id="title_operation_modal_id">Connexion Admin</h4>
                        </div>
                        <div class="modal-body">
                            <!-- TODO : Com à choisir -->
                            <p>Mot de passe </p>
                            <p> <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required"></p>
                        </div>
                        <div class="modal-footer">
                            <!-- Bouton pour soumettre le formulaire -->
                            <button type="submit" id="btn-op-submit" class="btn btn-primary" >Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

