{% extends 'base.html' %}



{% block content %}

<form method="POST" action="/connexion">
    <div class="mb-3">

         <p>
             <label for="username" class="form-label">Nom de l'utilisateur : </label>
             <input type="text" class="form-control" id="username" name="username" placeholder="login">
         </p>
         <p>
             <label for="pwd" class="form-label">Mot de passe : </label>
             <input type="password" class="form-control" id="pwd" name="pwd" placeholder="password">
         </p>
            <input type="submit" class="btn btn-primary" id="btn-submit" value="Connexion">

    </div>
</form>

{% endblock %}

