{% extends 'base.html' %}

{% block content %}

<div id="main-bloc">
    <div class="btn-toolbar" role="toolbar" aria-label="Utilitary buttons">
        <div class="col-1">
            <button class="btn btn-primary" type="button" onclick="myFunction()" >Import</button>
        </div>
        <div class="col-space"></div>
        <div class="col-1">
            <button name="b_export" type="button" onclick="window.location.href = 'export';" class="btn btn-secondary">Export</button>
        </div>
    </div>
    <div id="hideImport" class="hidden" >
        <div>
            <label for="formFileMultiple" class="form-label">Choisissez le ficher à importer :</label>
        </div>
         <div class="input-group" id="inputDiv">
            <form method="POST" action="" enctype="multipart/form-data">
                    <p><input type="file" class="form-control form-control-sm" name="file" id="inputImportFile" ></p>
                    <p><input type="submit" value="Importer" class="input-group-text" id="inputImportSubmit"  aria-describedby="inputImportSubmit" aria-label="Upload"></p>
            </form>
         </div>
    </div>
    <div id="sheet-area">
        <img src="static/tableur.png"/>
    </div>
</div>


{% endblock %}

